.css-form input.ng-valid.ng-dirty {
  background-color: #78FA89;
}
.css-form input.ng-invalid.ng-dirty {
  background-color: #FA787E;
}
.qte-contact-list h3 {
  font-color: #000;
  border-bottom: 2pm solid #000;
}
.qte-contact-list .qte-contact-actions {
  margin: 0px 0px 20px 0px;
}
.qte-contact-list .qte-contact-info {
  margin: 2px 2px;
  padding: 10px 10px;
  border-radius: 8px;
  background-color: #d2d2ff;
}
.qte-contact-list .qte-contact-info button {
  margin: 0px 0px 10px 0px;
}
