<div class="modal-header">
    <h3 class="modal-title">Add a Contact: </h3>
</div>
<div class="modal-body">
    <form name="contactForm" role="form" class="css-form">
        <div class="form-group">
            <label class="error" for="contactName" ng-show="contactForm.input.$error.pattern">  Words only allowed </label>
            <input type="text" id="contactName" class="form-control" name="input" ng-model="model.newContact.name.text"  ng-pattern="model.newContact.name.pattern" required ng-trim="true" placeholder="Contact Name">
        </div>

        <div class="form-group">
            <label class="error" for="contactAddress" ng-show="contactForm.input.$error.pattern"> Words only allowed </label>
            <input type="text" id="contactAddress" class="form-control" name="input" ng-model="model.newContact.address.text"  ng-pattern="model.newContact.address.pattern" required ng-trim="true" placeholder="Address">
        </div>

        <div class="form-group">
            <label class="error" for="contactPhone" ng-show="contactForm.input.$error.pattern"> Only numbers and dashes </label>
            <input type="text" id="contactPhone" class="form-control" name="input" ng-model="model.newContact.phone.text"  ng-pattern="model.newContact.phone.pattern" required ng-trim="true" placeholder="Phone Number">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="contactForm.input.$error.required || contactForm.input.$error.pattern" ng-click="add(model.newContact)">Add</button>
    <button class="btn btn-warning"  ng-click="cancel()">Cancel</button>
</div>