<div class="qte-contact-list" >
    <div class="btn-group qte-contact-actions">
        <button class="btn btn-primary btn-lg" ng-click="addContact('lg')">Add Contact</button>
    </div>

    <form name="contactSearchForm" role="form" class="css-form">
        <div class="form-group">
            <label class="error" for="contact" ng-show="contactSearchForm.input.$error.pattern">  Words only allowed </label>
            <input type="text" id="contact" class="form-control" name="input" ng-model="model.search.text"  ng-pattern="model.search.pattern" required ng-trim="true" placeholder="Search contacts here by name, address or phone number" ng-keyup="searchContacts(model.search.text)">
        </div>
    </form>
    <h3>Contacts <span class="label label-default">{{model.contacts.length}}</span></h3>
    <qte-contact-item  ng-repeat="aContact in model.contacts track by $index" contact="aContact" contacts-model="$parent.model.contacts" contact-index="$index" class="qte-contact-item" ng-show="aContact.properties.show"> </qte-contact-item>
</div>
