<div class="qte-contact-info">
    <button type="button" class="btn btn-default btn-sm" ng-click="deleteContact()">Delete Contact</button>
    <ul class="list-group">
        <li class="list-group-item" popover="Click To Edit Name" popover-placement="left" popover-trigger="mouseenter">
            <a href="#" editable-text="contact.name" onbeforesave="validate($data, 'name')">{{ contact.name || "empty" }}</a>
        </li>
        <li class="list-group-item" popover="Click To Edit Addres" popover-placement="left" popover-trigger="mouseenter">
            <a href="#" editable-text="contact.address" onbeforesave="validate($data, 'address')">{{ contact.address || "empty" }}</a>
        </li>
        <li class="list-group-item" popover="Click To Edit Phone" popover-placement="left" popover-trigger="mouseenter">
            <a href="#" editable-text="contact.phone" onbeforesave="validate($data, 'phone')">{{ contact.phone || "empty" }}</a>
        </li>
    </ul>

</div>
